extends layout.pug
block body
	.container
		if err
			div| there was an error!?
			div| #{err}
		else if orgs
			script.
				(function(window){
					window.organizations_bootstrapped = !{JSON.stringify(orgs)};
				})(window);
				
		#app-body
		script("type"="text/javascript", src="/compiled/js/app.bundle.js")
